<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url('<%= image_path "banner-programme.jpg" %>');">
        <div class="banner-content">
          <h1>Programme Ableton Live intensif</h1>
          <p>10 jours pour <strong>comprendre et exploiter Ableton live.</strong></p>
        </div>
      </div>
      <div class="banner-button">
      <%= link_to "Postulez pour 2 semaines de formation", root_path, class: "btn banner-button-item btn-danger btn-lg" %>
      </div>
    </div>
  </div>
</div>



<div class="features-wrapper up">
      <h2 class="section-title-home">
        <div class="section-title-home-content" style="font-size:30px;">
          <strong>2 semaines intensives - 10 heures/jour de prod</strong>
        </div>
      </h2>
        <p style="font-size: 20px !important;font-weight: 100 !important;position: relative;z-index: 1;text-align: center;color: #363636 !important;">Et tu seras capable de produire une track</p>


   <div class="container">
   <div class="row">
   <div class="full-programme" style="padding: 20px; margin-top: 30px;">
    <div class="col-md-3  wrapper-programme">
    <div id="first-tab-left">
    <p>1 - Création</p>
    </div>
    <div id="second-tab-left">
    <p>2 - Sampling</p>
    </div>
    <div id="third-tab-left">
    <p>3 - Séquenceur</p>
    </div>

    </div>
    <div class="col-md-9" style="border-left: 1px solid #EAEAEA;">
    <div class="first-tab">
    <div class="feature" style="padding: 10px">
        <div class="feature-header">
          <div class="feature-icon">
          <i class="fa fa-headphones" style="color: #8000FF;" aria-hidden="true"></i>
          </div>
          <h2 class="feature-title">
            <strong>Création de session</strong>
          </h2>
        </div>
        <div class="feature-body">
          De l'apprentissage des fonctionalités jusqu'à la création de votre premiére piste MIDI. Créez vos propres samples basé sur vos grooves et apprenez la technique liée à l'ajout d'effet de compression et de retour pour donner une sonorité réelle à vos projets.
        </div>
      </div>
    </div>
    <div class="second-tab hidden">
    <div class="feature" style="padding: 10px">
        <div class="feature-header">
          <div class="feature-icon">
          <i class="fa fa-play" style="color: #2ecc71;" aria-hidden="true"></i>
          </div>
          <h2 class="feature-title">
            <strong>Sampling de vos idées</strong>
          </h2>
        </div>
        <div class="feature-body">
          Maîtrisez l'art du sampling avec les différents outils <strong>SAMPLER,</strong> <strong>SIMPLER</strong> disponible dans ableton et modéliser vos idées avec les techniques des producteur d'aujourd'hui. Apprenez aussi à utiliser plusieurs <strong>Instruments virtuels</strong> pour enrichir votre bibliothéque musicale.
        </div>
      </div>
    </div>
    <div class="third-tab hidden">
    <div class="feature" style="padding: 10px">
        <div class="feature-header">
          <div class="feature-icon">
            <i class="fa fa-music" style="color: #FE5F55;" aria-hidden="true"></i>
          </div>
          <h2 class="feature-title">
            <strong>Séquenceur</strong>
          </h2>
        </div>
        <div class="feature-body">
        Importez vos clips et créez votre track de A à Z. Aprennez à utiliser les meilleurs plug-in et mixez vos tracks pour un rendu professionel pré-masterisé.
        </div>
      </div>
    </div>

    </div>
    </div>
    <div class="col-md-6">
      <div class="info-program-wrapper" >
        <h2>Gagne du temps !</h2>
        <p>Sans doute as-tu déjà essayé d'apprendre tout seul à utiliser Ableton ?</p>
        <p>Oui c'est une galère. Il y a plein de boutons partout et tu peux vite perdre 4h à tourner une molette sans comprendre à quoi ça sert réellement.
        <br>Avec nous ce sera du concret: </p>
        <ul>
          <li> Master KICK </li>
          <li> La BASSE qui tabasse</li>
          <li> Rythm & DRUM </li>
          <li> Attaque de HAT</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-program-wrapper " >
        <%= image_tag "image-ableton.png", class:"info-program-wrapper-pic" %>
      </div>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 50px;">
    <%= link_to "Retourner à la page d'acceuil", root_path, class: "link-big"%>
    </div>
  </div>
  </div>
</div>




<% content_for(:after_js) do %>
<script type="text/javascript">
    $(document).ready(function () {
    $('#first-tab-left').click(function () {
    $('.first-tab').removeClass('hidden');
    $('#first-tab-left').toggleClass('active');
    $('.second-tab').addClass('hidden');
    $('.third-tab').addClass('hidden');
    $('.fourth-tab').addClass('hidden');
    $('#third-tab-left').removeClass('active');
    $('#second-tab-left').removeClass('active');
    });
    $('#second-tab-left').click(function () {
    $('#second-tab-left').toggleClass('active');
    $('#first-tab-left').removeClass('active');
    $('.first-tab').addClass('hidden');
    $('.second-tab').removeClass('hidden');
    $('.third-tab').addClass('hidden');
    $('.fourth-tab').addClass('hidden');
    $('#third-tab-left').removeClass('active');
    });

    $('#third-tab-left').click(function () {
    $('#third-tab-left').toggleClass('active');
    $('#first-tab-left').removeClass('active');
    $('#second-tab-left').removeClass('active');
    $('.first-tab').addClass('hidden');
    $('.second-tab').addClass('hidden');
    $('.third-tab').removeClass('hidden');
    $('.fourth-tab').addClass('hidden');
    });

    });
</script>
<% end %>
